* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Arial";
  }
  
  body {
    margin: 0;
    background-color:rgb(255, 255, 255);
  }
  
  /* div{
      display: flex;
  } */
  
  
  .Header1{
      background: rgb(8, 45, 255);
      height: 40px;
      display: flex;
     /* justify-content: center;*/
      align-items: center;
      font-size: 0.8rem;
  }
  
  .header1{
      color: #ffffff ;
      justify-self: start;
      margin-left: 50px;
      cursor: pointer;
  }
  
  .header1-menu{
      display:grid;
      grid-template-columns: repeat(4,auto);
      grid-gap: 40px;
      list-style: none;
      text-align: center;
      width: 74vw;
      justify-content: end;
      margin-right: 0;
  }
  
  .head1-link{
      color: white;
      text-decoration: none;
      padding: 0.5rem 0rem;
  
  }
  
  .head1-link:hover{
      background-color: #6d76f7;
      border-radius: 4px;
      transition: all 0.2s ease-out;
  }


  /* Second nav */
  .contentnav{
   margin-top: 10px;
   margin-bottom: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.header2{
    color: rgb(0, 0, 0);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.logo1{
    height: 40px;
    width:135px;
    
}
.header2-menu{
    display:grid;
    grid-template-columns: repeat(11,auto);
    grid-gap: 45px;
    list-style: none;
    text-align: center;
    width:60vw;
    justify-content: end;
    
    
}

.head2-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 0;

}


.head2-link:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.header3-menu{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 10vw;
    justify-content: end;
    margin-right: 0;
}

.head3-link,.head4-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 0rem;
    position: relative;
    display: flex;

}

.head3-link:hover, .head4-link:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.cus{
    color:rgb(0, 68, 255);
}

.cusdiv{
    height: 24vh;
    width: 100%;
    color: white;
    border-bottom: 3px solid white;
    background: url("https://media.istockphoto.com/videos/aerial-footage-of-skyscraper-at-night-4k-video-id869613846?b=1&k=6&m=869613846&s=640x640&h=lzADUdFc7bhnWWJoAmTXMSgfGwvdMoUE_enyUSB3KfE=");
    background-repeat: no-repeat;
    background-size: 100% 190vh;
    
    text-align: center;
}

iframe{
    height: 60.5vh;
    width: 100%;
}

.cartnot{
    position: absolute;
    top: 3.5px;
    left: 11px;
    display: flex;
    background: blue;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    color: white;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    padding-top: 1px;
}
.enquiry{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    /* margin-left: 60px; */
    /* margin-right: 60px; */
    margin-bottom: 50px;
    
}
.enq1{
    
    width: 110%;
    text-align: center;
    
    
}

.enq2{
    background: rgb(235, 235, 235);
    width: 110%;
    text-align: center;
    border-radius: 12px;
}


.i3{
    color: white;
    height:36px;
    width:36px;
    border-radius:18px ;
    background: blue;
    text-align: center;
    float: right;
    margin-top: 25px;
    margin-right: 20px;

}

.i3 i{
    padding-top: 9px;
}


.grey{
    color: rgb(99, 99, 99);
}
.continfo{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 25px;
    list-style: none;
    /* margin-left: 20px; */
    justify-content: center;
    margin-top: 15px;
    
    
    
}
.cinfo{
    width: 300px;
    height:200px;
    border-radius: 6px;
    border: 1px solid grey;
    text-align: center;
    
    
}

.span{
    background: blue;
    border-radius: 20px;
    margin-top: 18px;
    height: 40px;
    width: 40px ;
    text-align: center;
    margin-left: 135px;
}

.cinfo i{
    color:white;
    margin-top: 11px;
    
}

.cinfo h5{
    color: rgb(99, 99, 99);
}

.forminp{
    background:rgb(235, 235, 235) ;
    margin: 10px;
    padding: 10px;
    height: 40px;
    width: 80%;
}

.formmsg{
    background:rgb(235, 235, 235) ;
    margin: 10px;
    padding: 10px;
    height: 150px;
    width: 80%;
}

.formbtn{
    background: blue;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    height: 40px;
    width: 80%;
    color: white;
    border: none ;
}

.footer{
    padding-top: 40px;
    display: flex;
    background: black;
    color: white;
    margin-bottom: 10px;
}

.address{

    width: 30%;
    margin-left: 90px;
}

.footmenus{
    margin-top: 10px;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 25px;
    list-style: none;
    /* margin-left: 20px; */
    
    text-align: left;
}

.fm h6{
    color: rgb(214, 214, 214);
}

.footlogos{
    display: flex;
}

.flogos{
    height:30px;
    width:30px;
    background: blue;
    text-align: center;
    margin-right: 7px;

}
.flogos i{
    padding-top:6.5px ;
}

.end{
    background: black;
}
.cr{
    text-align: center;
    color: white;
    padding-bottom: 5px;
}

.logo2{
    height: 50px;
    width: 50px;
}

.addlogo2{
    display: flex;
}

.lg3{
    height: 40px;
    width: 110px;
    justify-content: center;
    text-align: center;
   
}

.up1{
    color: white;
    height:36px;
    width:36px;
    border-radius:18px ;
    background: blue;
    text-align: center;
    float: right;
    margin-bottom: 5px;
    margin-right:6px ;

}

.up1 i{
    padding-top: 9px;
}



